:root {
  --alertColor: #b4bf35;
  --navbarColorInactive: #31572c;
  --navbarColorActive: #4f772d;
  --colorButton: #d4e09b;
  --colorCardButton: #03a100;
  --colorBackgroundColor: #03a100cc;
  --colorCardButtonOfert: #a13a00;
  --colorNavMovilDesplegable: #2f3f2d;
  --colorFontGray: #666666;
}

body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
i,
span {
  margin: 0;
  color: var(--colorFontGray);
}

@media (max-width:767px) {

  /* display */
  .message {
    display: grid;
    place-items: center;
    height: 100%;
  }

  .message p {
    color: rgb(168, 168, 168);
  }

  .display {
    display: none;
  }
}

@media (min-width:768px) {

  /* HEADER */
  .noDisplay {
    display: none;
  }

  .border {
    border: 1px solid black;
  }

  .contenedor {
    height: 100%;
    position: relative;
  }

  /* header */
  .contenedor>.headerArea {
    padding: 5px;
  }

  .headerArea>.headerContainer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: calc(50px / 4);
    padding: 0 30px;
  }

  .headerContainer>h1 {
    font-size: 2rem;
  }

  .headerContainer>.headerRight {
    display: flex;
    gap: 35px;
    align-items: center;
  }

  .headerRight>.notification>i {
    position: relative;
    font-size: 2rem;
  }

  .headerRight>.notification>i>span {
    font-size: 1rem;
    position: absolute;
    top: -2px;
    right: -14px;
    color: white;
    background-color: var(--colorBackgroundColor);
    padding: 1px 10px;
    border-radius: 8px;
  }

  .headerRight>.headerUser {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .headerUser>i:nth-child(1) {
    font-size: 2rem;
  }

  .headerUser>i:nth-child(3) {
    font-size: 1.5rem;
  }

  .headerUser>p {
    font-size: 2rem;
  }

  /* --------------------------------------------------- */
  /* NAVBAR */
  .contenedor>.navbarArea {
    position: absolute;
    width: fit-content;
    left: 5px;
    top: 62px;
  }

  .navbarArea a,
  .navbarArea p {
    font-size: 2rem;
  }

  .navbarArea>.navbarContainer {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    height: 625px;
    width: 50px;
    transition-property: width, height;
    transition-duration: 200ms;
    /* hasta 240 */
  }

  .navbarContainer>.navTitle {
    display: flex;
    gap: 25px;
    padding: 15px;
    width: 210px;
    /* ancho de parrafo */
  }

  .navTitle>i,
  .navTitle>p {
    font-size: 2.5rem;
    color: black;
  }

  .navbarContainer>.navUser {
    display: none;
  }

  .navUser>img {
    width: 25px;
    border: 1px solid var(--colorFontGray);
    border-radius: 50%;
  }

  .navbarContainer>.navOptions {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
  }

  .navOptions>.listOption {
    display: flex;
    gap: 25px;
    padding: 15px;
    border-radius: 8px;
    color: var(--colorFontGray);
    transition-property: background, color;
    transition-duration: 500ms;
    width: 210px;
  }

  .navOptions>.listOption:hover {
    background-color: var(--colorBackgroundColor);
  }

  .navOptions>.listOption:hover p {
    color: white;
  }

  .listOption>i {
    color: var(--colorFontGray);
    transition-property: color;
    transition-duration: 500ms;
    font-size: 23px;
  }

  .listOption:hover>i {
    color: white;
  }

  .navbarContainer>.navAccess {
    display: grid;
    gap: 10px;
  }

  .navAccess>p {
    display: none;
  }

  .navAccess>.listAccess {
    display: grid;
    grid-template-columns: 28.75px auto;
    gap: 30px;
    padding: 15px;
    border-radius: 8px;
    color: var(--colorFontGray);
    transition-property: background, color;
    transition-duration: 500ms;
    width: 210px;
  }

  .navAccess>.listAccess:hover {
    background-color: black;
  }

  .navAccess>.listAccess:hover p {
    color: white
  }

  .listAccess>i {
    color: var(--colorFontGray);
    transition-property: color;
    transition-duration: 500ms;
    font-size: 23px;
  }

  .listAccess:hover>i {
    color: white;
  }
}

.navbarArea>.navbarContainer:hover {
  width: 240px;
  height: 720px;
}

.navbarArea>.navbarContainer:hover .navUser {
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 15px 15px;
  width: 210px;
}

.navbarArea>.navbarContainer:hover .navAccess>p {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}



/* r3sp0ns1 */
/* @media (max-width:1366px) {

  .headerArea>.headerContainer {
    height: 40px;
    border-radius: calc(40px / 10 * 3);
    padding: 0 20px;
  }

  .headerContainer>h1 {
    font-size: 2.5rem;
  }

  .headerRight>.notification>i {
    font-size: 1.5rem;
  }

  .headerRight>.notification>i>span {
    font-size: 1rem;
    padding: 1px 8px;
  }

  .headerUser>i:nth-child(1) {
    font-size: 1.5rem;
  }
} */