:root {
  --alertColor: #b4bf35;
  --navbarColorInactive: #31572c;
  --navbarColorActive: #4f772d;
  --colorButton: #d4e09b;
  --colorCardButton: #03a100;
  --colorBackgroundColor: #03a100cc;
  --colorCardButtonOfert: #a13a00;
  --colorNavMovilDesplegable: #2f3f2d;
  --colorFontGray: #666666;
}

body {
  /* min-height: 100vh; */
  margin: 0;
  background-color: #E5E5E5;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
i,
span,
a {
  margin: 0;
  color: var(--colorFontGray);
}



/* HEADER */
.border {
  border: 1px solid black;
}

.contenedor {
  height: 100%;
  position: relative;
}

/* header */
.contenedor>.headerArea {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}

.headerArea>.headerContainer {
  height: 50px;
  background: #FFFFFF;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: calc(50px / 4);
  overflow: hidden;
  transition-property: height;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.headerContainer>div {
  height: 50px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer>div>h1 {
  font-size: 2rem;
}

.headerContainer>div>.headerRight>i:nth-child(1) {
  font-size: 2rem;
  cursor: pointer;
  font-style: normal;
}

/* navbar */
.navbarArea>.nav-options {
  padding: 0 16px;
  /* width: 50%; */
}

.navbarArea>.nav-options>ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid green; */
  /* justify-items: center; */
  padding: 10px 0;
  gap: 10px;
}

.navbarArea>.nav-options>ul>li {
  width: 90%;
}

.navbarArea>.nav-options>ul>li:nth-child(odd) {
  justify-self: end;
}

.navbarArea>.nav-options>ul>li:nth-child(even) {
  justify-self: start;
}

.navbarArea>.nav-options>ul>li>a>div {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  gap: 8px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  scale: 1 1;
  transition-property: background, scale;
  transition-duration: 200ms;
}

.navbarArea>.nav-options>ul>li>a>div:active {
  background-color: #cacaca;
  scale: 1.05 1.05;
}

.navbarArea .acceso {
  text-align: center;
  font-size: 2rem;
}

.navbarArea>.nav-user {
  border-top: 2px solid #f0f0f0;
  padding: 0 16px;
  padding-top: 10px;

  /* height: fit-content; */
}

.nav-user>div {
  /* width: 100%; */
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.nav-user>div>.user-left {
  display: flex;
  height: 100%;
  align-items: center;
  column-gap: 10px;
}

.nav-user>div>.user-left>img {
  height: 50px;
  border: 1px solid gray;
  border-radius: 50%;
}

.nav-user>div>.user-left>p {
  font-size: 2rem;
}

.nav-user>div>.user-right {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: end;
}

.nav-user>div>.user-right>a {
  font-size: 1.2rem;
}

/* section */
.sectionArea {
  margin-top: 60px;
}